---
title: Homepage
layout: new
---
<section class="relative z-0 bg-black">
	<div class="cover absolute absolute--fill z-0 o-40" style="background:url(/assets/images/cover.jpg) no-repeat center;"></div>
	<div class="tc dt white vh-100 w-100 relative z-1 ph4">
		<div class="dtc v-mid pt5">
			<a href="/"><img src="/assets/images/logo2.png" alt="Airdog Atelier" class="mw5"></a>
			<p class="f2 tracked lh-copy center measure">My name is Jessica Lee. I am an Art Director and Graphic Arist in Los Angeles.</p>
			<p class="f4 tracked mt1"><a href="/assets/pdf/resume17.pdf" class="link dim white-50">Download my resume</a></p>
		</div>
	</div>
</section>

<p class="ph4 pt5 f2 fw6 measure-narrow lh-copy lh-title-ns black-90" id="artdirection">Art Direction</p>

<section>
	<div class="pa3">
		<img src="/assets/images/artdirection/harrypotter.jpg" class="w-100 mw9-l db center">
	</div>
	<div class="ph4 ph5-m ph6-l">
		<div class="pt2 pb5 measure-wide">
			<h1 class="fw6 f3 fl w-100 black-90 mt0 mb3">Harry Potterfor Kohl's - SS17</h1>
			<p class="db lh-copy black-60 mv0 f5">Art directed one artist to work on this collection & made sure each top could be paired with a bottom. Worked with Design Manager to oversee production to ensure quality of art execution on quality fabrics.</p>
		</div>
	</div>
</section>

<p class="ph4 pt5 f2 fw6 measure-narrow lh-copy lh-title-ns black-90" id="art">Art</p>

<section class="w-100 pa2-ns flex flex-wrap mb6">
	{% include art-piece.html image="wonderwoman.png" title="DC Comics Wonder Woman T-Shirt" store="Target" %}
	{% include art-piece.html image="happyandfree.png" title="Happy and Free Tank" store="Target" %}
	{% include art-piece.html image="belle.png" title="Disney Belle T-Shirt" store="Target" %}
	{% include art-piece.html image="disneycharacters.png" title="Disney Characters Dress" store="Target" %}
	{% include art-piece.html image="littlemermaiddress.png" title="Disney The Little Mermaid Dress" store="Target" %}
	{% include art-piece.html image="hedgehug.png" title="Hedgehugs Valentine's T-Shirt" store="Target" %}
</section>
