---
title: Homepage
layout: default
---
<section class="relative z-0 bg-black">
	<div class="cover absolute absolute--fill z-0 o-40" style="background:url(/assets/images/cover.jpg) no-repeat center;"></div>
	<div class="tc dt white vh-100 w-100 relative z-1 ph4">
		<div class="dtc v-mid pt5">
			<a href="/"><img src="/assets/images/logo.png" alt="Airdog Atelier" class="mw5"></a>
			<p class="f2 tracked lh-copy center measure">My name is Jessica Lee. I am an Art Director and Graphic Arist in Los Angeles.</p>
			<p class="f4 tracked mt1"><a href="/assets/pdf/JessicaLeeResume18.pdf" class="link dim white-50">Download my resume</a></p>
		</div>
	</div>
</section>

<p class="ph4 pt5 mb3 f2 fw6 measure-narrow lh-copy lh-title-ns black-90" id="artdirection">Art Direction</p>
<p class="ph4 lh-copy black-60 f5 mb5">The below are some of the collections that I specifically art directed</p>

{% include art-direction.html
	image="harrypotter.jpg"
	title="Harry Potter for Kohl's - SS17"
	description="Art directed one artist to work on this collection & made sure each top could be paired with a bottom. Worked with Design Manager to oversee production to ensure quality of art execution on quality fabrics."
%}

{% include art-direction.html
	image="superhero.jpg"
	title="DC Superhero for Kohl's - BTS17"
	description="Art directed one artist to work on this collection while working with Design Manager to ensure accurate execution. Ensured all graphics and techniques worked with each other as well as individually while retaining value for the consumer."
%}

{% include art-direction.html
	image="harrypotterholiday.jpg"
	title="Harry Potter Holiday for Kohl's - FH17"
	description="Art directed two artists to work on this collection prioritizing unique techniques and accurate storytelling within the art. Designed for the Kohl's customer with the true Harry Potter fan in mind."
%}

{% include art-direction.html
	image="minniemouse.jpg"
	title="Folkloric Minnie Mouse"
	description="Art directed one artist on this collection using mirroring florals as inspiration. Elevated art execution technique such as direct embroidery and sublimation to ensure the softest hand on each unique fabrication called out by Design Manager."
%}

<p class="ph4 pt5 mb3 f2 fw6 measure-narrow lh-copy lh-title-ns black-90" id="art">Art</p>
<p class="ph4 lh-copy black-60 f5 mb5">The below are some of the licensed and generic art I created that sold to stores</p>

<section class="w-100 pa2-ns flex flex-wrap mb6">
	{% include art-piece.html image="kohls15.png" %}
	{% include art-piece.html image="kohls26.png" %}
	{% include art-piece.html image="kohls28.png" %}
	{% include art-piece.html image="kohls40.png" %}
	{% include art-piece.html image="kohls48.png" %}
	{% include art-piece.html image="kohls52.png" %}
	{% include art-piece.html image="kohls54.png" %}
	{% include art-piece.html image="kohls55.png" %}
	{% include art-piece.html image="rue6.png" %}
	{% include art-piece.html image="rue8.png" %}
	{% include art-piece.html image="rue10.png" %}
	{% include art-piece.html image="rue11.png" %}
	{% include art-piece.html image="rue15.png" %}
	{% include art-piece.html image="rue16.png" %}
	{% include art-piece.html image="rue20.png" %}
	{% include art-piece.html image="rue37.png" %}
	{% include art-piece.html image="rue41.png" %}
	{% include art-piece.html image="SPIRIT1.png" %}
	{% include art-piece.html image="SPIRIT6.png" %}
	{% include art-piece.html image="target13.png" %}
	{% include art-piece.html image="target23.png" %}
	{% include art-piece.html image="target43.png" %}
	{% include art-piece.html image="target50.png" %}
	{% include art-piece.html image="target63.png" %}
	{% include art-piece.html image="target64.png" %}
	{% include art-piece.html image="target70.png" %}
	{% include art-piece.html image="target80.png" %}
	{% include art-piece.html image="target81.png" %}
	{% include art-piece.html image="target85.png" %}
	{% include art-piece.html image="target86.png" %}
	{% include art-piece.html image="target89.png" %}
	{% include art-piece.html image="target90.png" %}
	{% include art-piece.html image="target93.png" %}
	{% include art-piece.html image="target94.png" %}
	{% include art-piece.html image="target96.png" %}
	{% include art-piece.html image="tillys2.png" %}
	{% include art-piece.html image="zumiez1.png" %}
	{% include art-piece.html image="zumiez4.png" %}
	{% include art-piece.html image="zumiez7.png" %}
	{% include art-piece.html image="zumiez9.png" %}
</section>
