<article class="w-100 w-50-m w-25-ns pa2-ns">
	<a href="/assets/images/art/full/{{ include.image }}" class="db grow no-underline js-simple-lightbox">
		<div class="aspect-ratio aspect-ratio--1x1">
			<img style="background-image:url(/assets/images/art/{{ include.image }});" class="db bg-center cover aspect-ratio--object" />
		</div>
		<div class="ph2 ph0-ns pb3 link db">
			<h3 class="fw6 f5 f4-ns mb0 black-90">{{ include.title }}</h3>
			<h3 class="f6 f5 fw4 mt2 black-60">{{ include.store }}</h3>
		</div>
	</a>
</article>
