// Unset list styling
@mixin nolist {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.noList { @include nolist; }

// Image replace
@mixin ir {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;

	br {
		display: none;
	}
}
.ir { @include ir; }


// Transition
@mixin transition ($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

// Translate
@mixin translate ($x, $y:0) {
	-webkit-transform: translate($x, $y);
	-moz-transform: translate($x, $y);
	-ms-transform: translate($x, $y);
	-o-transform: translate($x, $y);
}

// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
@mixin cf {
	*zoom: 1;

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}
.cf { @include cf; }


// Sizing shortcuts
@mixin size($width, $height) {
	width: $width;
	height: $height;
}

@mixin square($size) {
	@include size($size, $size);
}


// Retina images
@mixin retina-image($file-1x, $file-2x, $width-1x, $height-1x) {
	background-image: url("${file-1x}");

	@media
	only screen and ( -webkit-min-device-pixel-ratio: 2 ),
	only screen and ( min--moz-device-pixel-ratio: 2 ),
	only screen and ( -o-min-device-pixel-ratio: 2/1 ),
	only screen and ( min-device-pixel-ratio: 2 ),
	only screen and ( min-resolution: 192dpi ),
	only screen and ( min-resolution: 2dppx ) {
		background-image: url("${file-2x}");
		background-size: $width-1x $height-1x;
	}
}
