body {
	color: #666;
	font-size: 14px;
	font-family: 'QuicksandBook', Tahoma, Arial, sans-serif;
	line-height: 1.3;
}

a {
	text-decoration: none;
	@include transition(color .2s linear);

	&:link,
	&:visited,
	&:active {
		color: $purple;
	}

	&:hover {
		color: $orange;
	}
}

h1,
h2,
h3,
h4 {
	color: $teal;
}

h1 {
	font-size: 1.5em;
}

#page-container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
}

header {
	text-align: center;
	margin: 25px 0;
}

#logo {
	@include ir();
	display: inline-block;
	width: 372px;
	height: 205px;
	background-image: url(../images/logo2.png);
}

#main > div {
	margin-bottom: 100px;
}
