.work {
	position: relative;

	section {
		margin-bottom: 50px;
	}

	ul {
		@include nolist();
	}

	li {
		margin: 10px;
		background: $teal;
	}

	a {
		display: block;
		@include transition(opacity .1s linear);

		&:hover { opacity: .8; }
	}

	img {
		display: block;
	}
}
